.newTree
{
    font-weight: 400;
    background-color: #52bfa2;
    border: 2px solid #fff;
    border-radius: .2rem;
    color: #fff;
    width: 300px;
    font-size: 1em;
    padding: .4rem 2.125rem;
    text-decoration: none;
    transition: all 0.3s ease;
    padding-right: 15px;
    padding-left: 15px;
}

.box {
    display: flex;
    align-items: flex-start;
  }
