<!--div fxLayoutAlign="center center" fxFlex="grow" style="height: 100vh;">
  Simple Fields
  <div fxLayout="column"  fxFlexAlign="center" fxFlex="15vw" fxLayoutGap="10%"  style="border-style: double; border-color: aqua;">
    <button mat-raised-button color="primary" (click)="updatefirestoreNM()">SetDB-withoutMerge</button>
    <button  mat-raised-button color="accent" (click)="updatefirestoreMT()">SetDB-Merge</button>
    <button  mat-raised-button color="accent" (click)="updatefirestoreMF()">SetDB-NoMerge</button>
  </div>
  Map Field
  <div fxLayout="column"  fxFlexAlign="center" fxFlex="15vw" fxLayoutGap="10%"  style="border-style: double; border-color: aqua;">
    <button mat-raised-button color="primary" (click)="MapfirestoreNM()">Map-withoutMerge</button>
    <button  mat-raised-button color="accent" (click)="MapfirestoreMT()">Map-Merge</button>
    <button  mat-raised-button color="accent" (click)="MapfirestoreMF()">Map-NoMerge</button>
  </div>
  Array-Field
  <div fxLayout="column"  fxFlexAlign="center" fxFlex="15vw" fxLayoutGap="10%"  style="border-style: double; border-color: aqua;">
    <button mat-raised-button color="primary" (click)="SArrayfirestoreNM()">S-Array-Union</button>
    <button  mat-raised-button color="accent" (click)="SArrayfirestoreMT()">S-Array-Remove</button>

  </div>

  Array-Map Field
  <div fxLayout="column"  fxFlexAlign="center" fxFlex="15vw" fxLayoutGap="10%"  style="border-style: double; border-color: aqua;">
    <button mat-raised-button color="primary" (click)="ArrayfirestoreNM()">Array-withoutMerge</button>
    <button  mat-raised-button color="accent" (click)="ArrayfirestoreMT()">Array-Union</button>
    <button  mat-raised-button color="accent" (click)="ArrayfirestoreMF()">Array-Remove</button>
  </div>
</div-->
<mat-grid-list cols="10" rowHeight="5vh">
  <mat-grid-tile colspan="10" rowspan='1' style="color:#216fdb; width: 100%; background-color:#F2F3F5 ;">
      <div>
          MyHeritage...
      </div>
      <span fxFlex="grow"></span>
      <div fxFlex="grow">
          Birthday App

      </div>
  </mat-grid-tile>


</mat-grid-list>

<mat-toolbar color=#F2F3F5>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="NavigateNext()"> My Family Tree</button>
      <button mat-menu-item>MyProfile</button>
  </mat-menu>
  <span fxFlex="grow"></span>


  <div class="newTree">
      Build your Family Tree
  </div>
  <button mat-raised-button color="warn" (click)="developmentservice.logout()"> Log Out </button>

</mat-toolbar>




<div Style="height:calc(100vh - 64px);" fxLayoutAlign="center center">
    <button mat-raised-button color="warn" (click)="InitDBNext()"> InitDB </button>
    <button mat-raised-button color="warn" (click)="NavigateNext()"> MainScreen </button>
</div>